body{
  margin: o;
  background-color: hsl(0, 0%, 95%);
  padding: 0;
  box-sizing: border-box;
}

.calculator_box{
  display: flex;
  justify-content: center;
  margin: 10px;
  padding-top: 5px;
}
#calculator{
  font-family: Arial,sans-serif;
  background-color: hsl(0, 0%, 15%);
  border-radius:10px;
  width: 300px;
  overflow: auto;
}
#display{
  width: 100%;
  padding: 30px;
  font-size: 3rem;
  text-align: left;
  border: none;
  background-color: hsl(0, 0%, 20%);
  color:#fff;

}
#keys{
  display: grid;
  grid-template-columns: repeat(4,1fr);
  gap: 10px;
  margin-top: 15px;
  padding: 1px;

}
button{
  width: 3rem;
  height: 3rem;
  border-radius: 50px;
  border: none;
  background-color: hsl(0, 0%, 32%);
  color: #fff;
  font-size: 2rem;
  font-weight: bold;
  cursor: pointer;
}

.operator_btn{
 background-color: hsl(39, 100%, 50%)
}
button:hover{
  background-color: hsl(0, 0%, 40%);
}
button:active{
  background-color: hsl(0, 0%, 50%);
}

.operator-btn{
  background-color: hsl(39, 100%, 50%)
}

.operator-btn:hover{
  background-color: hsl(39, 100%, 60%)
}

.operator-btn:active{
  background-color: hsl(39, 100%, 70%)
}